* {
  margin: 0;
  padding: 0;
  font-family: "Nunito-SemiBold";
  text-decoration: none;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f6f5f2;
}
i span {
  padding: 5px;
}
header {
  margin: 0 auto;
  border: 0 solid #dddddd;
  color: var(--light-color);
}
.hd_menu {
  background-color: var(--primary-color);
  font-size: 16px;
  color: white;
  width: 100vw;
}
.khung_menu {
  /* width: 1440px; */
  width: 70%;
  margin: 0 auto;
  text-align: right;
  padding: 5px;
}
.khung_menu i {
  padding: 0 5px;
}
#icon_sh i {
  color: var(--primary-color);
}
.khung_LG1 {
  width: 100%;
  /* display: flex; */
  padding: 10px;
  background-color: white;
  /* -webkit-box-shadow: 0 8px 6px -6px black; */
  /* -moz-box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 8px 6px -6px black;
}
.khung_LG2 {
  width: 70%;
  /* display: flex; */
  /* flex-direction:row; */
  margin: 0 auto;
}
.khung_LG-sh {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.khung_sh {
  display: flex;
  margin-left: 20px;
  border: 1px solid#dddddd;
  border-radius: 35px;
  padding: 10px;
}
#tinhThanh {
  border: 0;
  border-right: 1px solid #b4b4b4;
  align-items: center;
  /* display: flex; */
  /* flex-direction: row; */
}
#search {
  border: 0;
  outline: none;
  font-size: 16px;
  color: #8f8f8f;
  padding-right: 16px;
  padding-left: 16px;
}
main {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "Item-left Item-right Item-right Item-right Item-right";
  grid-gap: 20px;
}
.left_frame {
  margin-top: 12px;
  grid-area: Item-left;
}
.left_frame ul {
  list-style: none;
  background-color: var(--light-primary);
  border: 0px solid dodgerblue;
  border-radius: 15px;
}
main:first-child {
  max-width: 1110px;
  margin: 0 auto;
}
.left_frame > ul > li {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.left_frame > ul > li:first-child {
  padding: 32px 32px 32px 32px;
  display: flex;
  align-items: center;
}
.left_frame > ul > li:last-child {
  padding: 32px 32px 32px 32px;
}
.left_frame > ul > li:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left_frame > ul > li:nth-child(2),
.left_frame > ul > li:nth-child(3),
.left_frame > ul > li:nth-child(4),
.left_frame > ul > li:nth-child(5) {
  padding: 16px 16px 16px 32px;
  margin-top: 2px;
  background-color: #f6f7f9;
}
.right_frame {
  margin-top: 12px;
  padding: 40px;
  grid-area: Item-right;
  background-color: var(--light-primary);
  border-radius: 15px;
}
.right_frame > span:first-child {
  padding: 0 0 22px;
}
#khungDanhSachPhongTro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 22px 0 22px 0;
}

.anh {
  position: relative;
  width: 216px;
  margin-right: 20px;
}
.anh img {
  width: 100%;
  border: none;
  border-radius: 15px;
}

.fr_chiTiet > span {
  padding: 10px 0;
}
.gioiTinhVaDienTich {
  width: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 80px;
}
.kieuPhong,
.diaChi {
  display: block;
}
.tTgia:last-child {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.kieuPhong .gioiTinh .dienTich .diaChi {
  margin: 0px 32px 0 0;
}
footer {
  background-color: white;
}
.fr {
  width: 1440px;
  margin: 0 auto;
}
.fe_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed #cdcdcd;
  padding: 50px 0px;
}
.fr_dow {
  align-items: center;
}
.fr_title a,
.fr_tt a {
  color: black;
}
.fr_day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.information_img {
  margin: 0 auto;
  background-color: var(--light-primary);
}

/* .item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
} */

#images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  max-width: 1400px;
  padding-top: 20px;
  margin: auto;
}

#image {
  height: 400px;
  background-color: gray;
}

#image:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 800px;
}

.khungThongTinTenAnh {
  width: 1300px;
  margin: 0 auto;
}

.tenAnh {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#price_left {
  grid-area: left_pr;
}
.price_right {
  grid-area: right_pr;
}
.price_center1 {
  grid-area: left_ct1;
}
.price_center2 {
  grid-area: left_ct2;
}

.container {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: " left_pr left_pr left_pr left_pr right_pr right_pr";

  grid-gap: 20px;
  /* background-color: #2196f3; */
  border-radius: 15px;
}
.container > div {
  border-radius: 20px;
}
.price_right {
  width: 100%;
}
/* Khung bên trái  */
#item1 {
  grid-area: header;
}

.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.price_left {
  display: grid;
  grid-template-areas:
    "header header header header "
    "main main main main "
    "right right right right"
    " footer footer footer footer  ";

  grid-gap: 10px;

  /* background-color: #2196f3; */
  padding: 10px;
}
.price_left {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
#item1 {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}
.item3 {
  background-color: turquoise;
}
.item4 {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}
.item5 {
  background-color: green;
}

.price_right {
  border-radius: 15px;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 24px;
  border-radius: 20px;
  margin-top: 32px;
  margin-right: 0px;
  height: -webkit-fit-content;
}
.thongTinChuTro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  background-color: rgb(246, 247, 249);
  border-radius: 20px;
  /* border-radius: 30px; */
}
.khungTTChuTro {
  width: 100%;
  /* background-color: white; */
}
.icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
}
._3YtkH {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
}
._3YtkH > img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 8px;
}
.thongTinChiTiet {
  border-right: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 24px;
}
.thongTinNgayDang {
  padding-left: 24px;
}
.sdt {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
._2zScZ {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  /* border-radius: 20px; */
}
._70zUr {
  width: calc(100% / 4);
}
._70zUr > ._3MSO3 {
  color: var(--success-color);
}
._3QS8q p {
  text-align: left;
  margin-top: 24px;
}
._3QS8q > p:nth-child(2) {
  color: var(--black-color);
  /* color: black; */
}
._70zUr > p:nth-child(1) {
  color: var(--black-color);
}
.item3 {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}
#khungChiTietTienICh {
  display: flex;
  flex-flow: row wrap;
}
.chiTietTienIch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}
.chiTietTienIch > span:nth-child(2) {
  margin-left: 10px;
  margin-right: 60px;
}
#khungThoiGian {
  display: flex;
  align-items: center;
}
#khungTienich {
  margin-top: 20px;
}
.title {
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
}
#khungThoiGian span:last-child {
  margin-left: 10px;
}
.sucChua {
  display: flex;
  align-items: center;
  width: 100%;
}
.sucChua > div {
  margin-left: 20px;
}
.item5 {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}
.noiDung {
  display: flex;
  align-items: center;
}
._2qpkq {
  text-align: left;
}
.content {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
}
.content > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
}
.content {
  width: 1400px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.ctn_tt {
  margin: 0 auto;
}
.soLuongPhong {
  display: flex;
  flex-direction: column;
}
.sucChua {
  display: flex;
  flex-direction: row;
}
#ctn_tienich {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1400px;
  /* background-color: rgb(212, 141, 141); */
}
.item_tienIch {
  background-color: #b085f5;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}
.item_tienIch > i {
  margin-right: 10px;
}
.container_xacNhan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  /* max-width: 1400px; */
  margin: auto;
}
.container_xacNhan:first-child {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.container_xacNhan > div:nth-of-type(2) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.container_xacNhan > div:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.cttt {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
}
.ctn_tt {
  margin: 0 auto;
}
.radio {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--information-color);
  font-size: 16px;
}
.ctn_tt input {
  border-radius: 30px;
  outline: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
*/ span {
  margin: 10px;
}
.dienTich {
  display: grid;
}
.chiPhi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.tienDien {
  display: flex;
  align-items: center;
}
.tienNuoc {
  display: flex;
  align-items: center;
}
.internet {
  display: flex;
  align-items: center;
}
.coChoDeXe {
  display: flex;
  align-items: center;
}
#pop-up {
  max-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
}

#pop-up .contentIMG {
  width: auto;
  height: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.next {
  position: absolute;
  color: var(--primary-color);
  right: 35px;

  top: 50%;
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s;
}
.prev {
  position: absolute;
  color: var(--primary-color);
  left: 35px;
  top: 50%;
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s;
}
