* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Nunito-SemiBold;
  font-size: 16px;
}
.img {
  width: 100%;
}
a {
  text-decoration: none;
}
p {
  font-size: 20px;
}
.header {
  background-color: var(--primary-color);
}
.header .hRight a {
  color: white;
}
.hRight {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
